openapi: 3.0.0
info:
  version: 1.0.0
  title: Mass payments sender
  description: |
    # Service Config Example

    ```yaml
    mass_payments_sender:
          # Time in seconds between sending transactions batch
          sending_period: 5
          # Transactions batch size
          txs_per_period: 5
          tasks: 1

    log:
      disable_sentry: true

    db:
      url: db_url

    keys:
      signer: ...
      source: ...

    listener:
      addr: :8000

    client:
      endpoint: http://...

    submit:
      endpoint: http://...

    decentralization:
      disabled: false
      is_coordinator: true # Only one service should be coordinator
      nodes: # Links to other nodes
        - http://node_2
        - http://node_3

    cop:
      disabled: true
      endpoint: "http://..."
      upstream: "http://..."
      service_name: op-sender-svc
      service_port: 80
    ```

    # TokenD CLI Config Example

    ```yaml
    masspayments:
      image: tokend/mass-payments-sender-svc:1.0.0
      nodes:
        - signer: SAMJKTZVW5UOHCDK5INYJNORF2HRKYI72M5XSZCBYAHQHR34FFR4Z6G4
          database:
            local: true
        - signer: SAMJKTZVW5UOHCDK5INYJNORF2HRKYI72M5XSZCBYAHQHR34FFR4Z6G4
          database:
            local: true
        - signer: SAMJKTZVW5UOHCDK5INYJNORF2HRKYI72M5XSZCBYAHQHR34FFR4Z6G4
          database:
            local: true
      source: GBA4EX43M25UPV4WIE6RRMQOFTWXZZRIPFAI5VPY6Z2ZVVXVWZ6NEOOB
      sendingperiod: 5
      txsperperiod: 5
      tasks: 1
      database:
        local: true
      sentry:
        disabled: true
    ```

    # Create mass payment request

    Send create deferred payment request and specify in details:

    ```json
    {
      "blobs": ["<blob_id>"],
      "lockup_until": "RFC 3339 encoded time" # optional
    }
    ```

    Each blob should have such content:

    ```json
    [
      {
        "amount": "10.00",
        "destination": "identifier",
        "destination_type": "identifier_type" # account_id in case of using account_id or key from identity storage
      }
    ]
    ```

    You should specify not more than 1000 payments in 1 blob

    # Cancel mass payment and unlock money

    Send close deferred payment and specify account of deferred payment creator as destination. In create details you should specify list of ids wich should be canceled by this request.

    ```json
    {
      payments_to_cancel: [1]
    }
    ```

    # Service permissions

    Service must be signer of the master account. Service must have permissions to:

    - Review create deferred payment requests. Resource Type: `REVIEWABLE_REQUEST`, Reviewable Request Type: `CREATE_DEFERRED_PAYMENT`, Action: `REVIEW`
    - Review close deferred payment requests. Resource Type: `REVIEWABLE_REQUEST`, Reviewable Request Type: `CLOSE_DEFERRED_PAYMENT`, Action: `REVIEW`
    - Create close deferred payment requests. Resource Type: `REVIEWABLE_REQUEST`, Reviewable Request Type: `CLOSE_DEFERRED_PAYMENT`, Action: `CREATE`

servers:
  - url: 'https://api.demo.tokend.io'
    description: TokenD Developer Environment
